<!-- 
<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let item of tableauposts">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.body}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

<!-- 

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">UserId</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tableauposts">
      <th scope="row">{{item.id}}</th>
      <td>{{item.userId}}</td>
      <td>{{item.title}}</td>
      <td>{{item.body}}</td>
    </tr>
   
  </tbody>
</table>

 -->
<input #text type="text" (change)="getdata(text)" >

<div class="card" style="width: 18rem;" *ngIf="post">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.body}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>